body{
    font-family: 'Passion One', cursive;
    font-weight: bold;
    text-align: center;
    background-color:#375237;
    color: #ffffff;
}
#board{ 
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #142B18;
    padding: 3px;
    margin: auto;
}
#board div{
    height: 40px;
    width: 40px;
}
.hidden{
    margin: 1.5px;
    box-shadow:5px 0px 0px 0px #464646 inset,-5px -5px 0px 0px #090A09 inset, 0px 5px 0px 0px #464646 inset;
}
.empty{
    margin: 1.5px;
    background-color: #090A09;
}
.mine{
    margin: 1.5px;
    background-color: red;
}
img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
#flagCounter, #timeCounter{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 40px;
}
#resetButton{
    display: inline-block;
    margin-top: 15px;
} 
#informationBar{
    background-color: #090A09;
    width: 350px;
    height: 100px;
    margin: auto;
}

